<div id="cDetailContainer" class="container-fluid text-center" *ngIf="country">
  <div class="row">
    <div class="mx-auto">
      <h1 class="cName">
          {{country.translations[selectedOfficialName].common}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>{{country.translations[selectedOfficialName].official}}</h2>
    </div>
  </div>
  <div class="row">
    <div class=" col-12">
      <label for="idSelectOfficialNameTag">Voir les noms commun et officiel de ce pays dans une autre langue: </label>
      <select id="idSelectOfficialNameTag" #selectOfficialNameTag (change)="changeSelectedNameTranslation(selectOfficialNameTag)">
        <option *ngFor="let officialName of country.translations | keyvalue" [selected]="officialName.key === selectedOfficialName">
          {{officialName.key}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="col-6 mx-auto">
        <img [src]="country.flags.svg" height=300>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="text-center">Ce pays {{country.independent ? 'est indépendant' : "n'est pas indépendant"}} et 
          {{country.landlocked ? 'est enclavé' : "dispose d'un accès à la mer"}}. Les voitures y roulent à {{country.car.side === 'left' ? 'gauche' : 'droite'}} et
           sont immatriculées {{getCarSigns()}}.</div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 subTitle">
        <h2>Géographie</h2>
      </div>
      <div class="col-4">
          <h2>Divers</h2>
        </div>
        <div class="col-4">
            <h2>Démographie</h2>
          </div>
    </div>
  <div class="row mx-auto">
    <div class="col-4 cInfo">
        <br>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="text-break">
            <a [href]="country.maps.openStreetMaps" target="_blank">Lien vers la carte OpenStreetMaps</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-6">Continent:</div>
          <div class="col-6">{{country.region}}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">Sous-région:</div>
            <div class="col-6">{{country.subregion}}</div>
          </div>
        <br>

      <br>
      <div class="row">
          <div class="col-sm-6">Capitale</div>
          <div class="col-sm-6">{{country.capital}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">Superficie:</div>
          <div class="col-6">{{country.area | numberThousandsSeparator}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">Latitude:</div>
          <div class="col-6">{{country.latlng[0]}}</div>
          <div class="col-6">Longitude:</div>
          <div class="col-6">{{country.latlng[1]}}</div>
        </div>
        <br>
        <div class="row" *ngIf="country.borders.length==1; else severalBorders">
            <div class="col-6">fuseau horaire:</div>
              <div class="col-6"> {{country.borders[0]}}</div>
          </div>
          <ng-template #severalBorders>
            <div class="row" *ngFor="let b of country.borders; let i=index">
              <div class="col-6">Pays frontalier ({{i+1}}):</div>
              <div class="col-6">{{b}}</div>
            </div>
          </ng-template>
        <br>
          <div class="row" *ngIf="country.timezones.length==1; else severalTimeZones">
              <div class="col-6">fuseau horaire:</div>
                <div class="col-6"> {{country.timezones[0]}}</div>
            </div>
            <ng-template #severalTimeZones>
              <div class="row" *ngFor="let tz of country.timezones; let i=index">
                <div class="col-6">fuseau horaire ({{i+1}}):</div>
                <div class="col-6">{{tz}}</div>
              </div>
            </ng-template>
  </div>
  <div class="col-4 mx-auto cInfo">
        <br>
        <div class="row center-block">
          <div class="col-12">
            Blason
            <img class="img-fluid" [src]="country.coatOfArms.png"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">Langue(s) parlée(s):</div>
          <div class="col-6">{{joinLanguages()}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">Monnaie(s):</div>
          <div class="col-6">{{joinCurrencies()}}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">Premier jour de la semaine:</div>
            <div class="col-6">{{translateDayOfWeekInFrench(country.startOfWeek)}}</div>
        </div>
          <br>
          <div class="row center-block">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>année</th>
                    <th>index de Gini</th>
                  </tr>
                </thead>
                <tr *ngFor="let giniYear of country.gini | keyvalue">
                  <td>{{giniYear.key}}</td>
                  <td>{{giniYear.value}}</td>
                </tr>
              </table>
            </div>
          </div>
  </div>
  <div class="col-4 mx-auto cInfo">
        <br>
        <div class="row">
          <div class="col-6">
            <label for="idSelectDemonymsTag">Gentilés </label>
            <select id="idSelectDemonymsTag" #selectDemonymsTag (change)="changeDemonymTranslation(selectDemonymsTag)">
              <option *ngFor="let demonym of country.demonyms | keyvalue" [selected]="demonym.key === selectedDemonymTranslation">
                {{demonym.key}}
              </option>
            </select>
          </div>
          <div class="col-6">♀{{country.demonyms[selectedDemonymTranslation].f}} ,♂{{country.demonyms[selectedDemonymTranslation].m}}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">Population:</div>
            <div class="col-6">{{country.population | numberThousandsSeparator}}</div>
          </div>
          <br>
          
    </div>
</div>
<br>
<a [routerLink]="[ '/' ]"><button class="btn btn-info">Retour au formulaire de recherche</button></a>
